[submodule "nffg_library"]
	path = nffg_library
	url = https://github.com/netgroup-polito/nffg-library.git
[submodule "vnf_template_library"]
	path = vnf_template_library
	url = https://github.com/netgroup-polito/vnf-template-library.git
